name: Flutter CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  flutter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - run: flutter pub get

      - run: dart format --output=none --set-exit-if-changed .

      - run: flutter analyze --fatal-infos

      - run: flutter test

      - run: flutter build apk --debug
